VITE_ZITADEL_AUTHORITY=ZITADEL_DOMAIN
VITE_ZITADEL_CLIENT_ID=YOUR_USER_AGENT_APP_CLIENT_ID
VITE_ZITADEL_REDIRECT_URI=http://localhost:5173/callback
VITE_ZITADEL_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
